/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: gyparodyhv;
  src: url(/assets/css/fonts/gyparodyhv.ttf);
}

@font-face {
  font-family: gyparodyrg;
  src: url(/assets/css/fonts/gyparodyrg.ttf);
}

html,
body {
  height: 100%;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  cursor: pointer;
}

.navbar-brand {
  font-family: gyparodyhv;
  font-size: 28px;
  text-shadow: 1px 1px 1px #000;
}

.withShadow {
  text-shadow: 1px 1px 1px #000;
}

.titleCase {
  text-transform: capitalize;
  font-weight: bold;
}

/* Background */

.bg {
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg,
      #3bade3 0%,
      #4914bc 25%,
      #9844b7 51%,
      #9d030b 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
  animation: AnimateBG 20s ease infinite;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 50% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 50% 50%;
  }
}

.password-match,
.password-not-match {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: .875em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  padding: 0px 1px 2px 1px;
}

.valid-password .password-match,
.invalid-password .password-not-match {
  display: block;
}
