
<main class="bg d-flex align-content-center">
    <div class="animatedBackground"></div>
    <div class="loginContainer w-100 m-auto">
      <div class="container">
        <div class="row">
          <div class="col">
            <p id="logoSpinner">JEOPARDY!</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card shadow-lg">
              <div class="card-body">
                <form class="needs-validation" novalidate>
                  <div class="container">
                    <div class="row">
                      <div class="col pb-2 text-center text-white">
                        <h1 class="h3">Sign Up Here!</h1>
                        <h2>For Unlimited fun!!</h2>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="inputFName" value="" placeholder="First name"
                                  required>
                                <label for="inputFName" class="form-label">First name</label>
                        </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="inputLName" value="" placeholder="Last name"
                                  required>
                                <label for="inputLName" class="form-label">Last name</label>
                        </div>
                    </div>
                </div>

                    <div class="row">
                      <div class="col">
                        <div class="form-floating mb-2">
                          <input type="text" class="form-control" id="inputEmail" value="" placeholder="Email here please"
                            required>
                          <label for="inputEmail" class="form-label">Email</label>
                        </div>
                        </div>
                      </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-floating mb-2">
                          <input type="text" class="form-control" id="inputUsername" value="" placeholder="Username"
                            required>
                          <label for="inputUsername" class="form-label">Username</label>
                        </div>
                      </div>
                      
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-floating mb-2">
                          <input type="password" class="form-control" id="inputPassword1" value="" placeholder="New Password"
                            required>
                          <label for="inputPassword1" class="form-label">New Password</label>
                        </div>
                        <div class="form-floating mb-2">
                            <input type="password" class="form-control" id="inputPassword2" value="" placeholder="Confirm Password"
                              required>
                            <label for="inputPassword2" class="form-label">Confirm Password</label>
                          </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <button id="submitBtn" href="#" class="w-100 btn btn-sm btn3d btn-primary fw-bold" type="button">
                          <div id="proceedText" class="proceedText">Submit</div>
                          <div id="proceedLoading" class="proceedLoading text-center hideElem">
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            Loading...
                          </div>
                        </button>
                      </div>
                      
                      
                    </div>
                    <div class="row">
                        <div class="col">
                          <button id="submitBtn" href="#" class="w-100 btn btn-sm btn3d btn-warning fw-bold" type="button">
                            <div id="proceedText" class="proceedText">Hmm Actually I got an Account</div>
                            <div id="proceedLoading" class="proceedLoading text-center hideElem">
                              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                              Loading...
                            </div>
                          </button>
                        </div>
                      </div>
                    <div class="row">
                      <div class="col login-message mt-3">
                        <div id="setupAlertSuccess" class="alert alert-success text-center" role="alert">
                          Login Success. Redirecting to main page in 1s.
                        </div>
                        <div id="setupAlertFailed" class="alert alert-danger text-center" role="alert">
                          Failed.
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </main>
