<main class="bg d-flex align-content-center">
  <div class="animatedBackground"></div>
  <div class="loginContainer w-100 m-auto">
    <div class="container">
      <div class="row">
        <div class="col">
          <p id="logoSpinner">JEOPARDY!</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card shadow-lg">
            <div class="card-body">
              <form class="needs-validation" novalidate>
                <div class="container">
                  <div class="row">
                    <div class="col pb-2 text-center text-white">
                      <h1 class="h3">Create a new account</h1>
                    </div>
                  </div>
                  <!-- Name -->
                  <div class="row">
                    <div class="col">
                      <div class="form-floating mb-3">
                        <input type="text" [(ngModel)]="signUpPlayerData.playerFirstname" name="playerFirstname" class="form-control" id="playerFirstname" value="" placeholder="First name"
                          required>
                        <label for="playerFirstname" class="form-label">First name</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-floating mb-3">
                        <input type="text" [(ngModel)]="signUpPlayerData.playerLastname" name="playerLastname" class="form-control" id="playerLastname" value="" placeholder="Last name"
                          required>
                        <label for="playerLastname" class="form-label">Last name</label>
                      </div>
                    </div>
                  </div>
                  <!-- email -->
                  <div class="row">
                    <div class="col">
                      <div class="form-floating mb-3">
                        <input type="text" [(ngModel)]="signUpPlayerData.playerEmail" name="playerEmail" class="form-control" id="playerEmail" value="" placeholder="Email here please"
                          required>
                        <label for="playerEmail" class="form-label">Email</label>
                      </div>
                    </div>
                  </div>
                  <!-- Username -->
                  <div class="row">
                    <div class="col">
                      <div class="form-floating mb-3">
                        <input type="text" [(ngModel)]="signUpPlayerData.playerUsername" name="playerUsername" class="form-control" id="playerUsername" value="" placeholder="Username"
                          required>
                        <label for="playerUsername" class="form-label">Username</label>
                      </div>
                    </div>
                  </div>
                  <!-- Password -->
                  <div class="row">
                    <div class="col">
                      <div class="form-floating mb-3">
                        <input type="password" [(ngModel)]="signUpPlayerData.playerPassword" name="playerPassword" class="form-control" id="playerPassword" value=""
                          placeholder="Password" (keyup)="checkPassword($event)" required>
                        <label for="playerPassword" class="form-label">New Password</label>
                        <div class="password-not-match text-danger">
                          Passwords must match
                        </div>
                        <div class="password-match text-success">
                          Passwords match!
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="confirmPassword" value=""
                          placeholder="Password" (keyup)="checkPassword($event)" required>
                        <label for="inputPassword" class="form-label">Confirm Password</label>
                        <div class="password-not-match text-danger">
                          Passwords must match
                        </div>
                        <div class="password-match text-success">
                          Passwords match!
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Submit button -->
                  <div class="row">
                    <div class="col">
                      <button id="submitBtn" (click)="signUpPlayer()" [attr.disabled]="registerData.disableSubmit ? 'disabled' : null" class="w-100 btn btn3d btn-success fw-bold" type="button">
                        <div id="proceedText" class="proceedText" [ngClass]="registerData.hideSubmitText ? 'hideElem' : ''" >Submit</div>
                        <div id="proceedLoading" class="proceedLoading text-center" [ngClass]="registerData.hideSubmitLoading ? 'hideElem' : ''">
                          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                          Loading...
                        </div>
                      </button>
                    </div>
                  </div>

                  <!-- GO Back button -->
                  <div class="row">
                    <div class="col">
                      <button id="goBack" href="#" class="w-100 btn btn3d btn-primary fw-bold" type="button"
                        routerLink="/login">
                        <div id="proceedText" class="proceedText">Go Back</div>
                        <div id="proceedLoading" class="proceedLoading text-center hideElem">
                          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                          Loading...
                        </div>
                      </button>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col login-message mt-3">
                      <div id="setupAlertSuccess" class="alert alert-success text-center" [ngClass]="registerData.hideSuccessStatus ? '' : 'activeStatus'" role="alert">
                        Sign Up Successful. Redirecting to main page in 1s.
                        <!-- sign up takes longer than login ;) -->
                      </div>
                      <div id="setupAlertFailed" class="alert alert-danger text-center" [ngClass]="registerData.hideFailStatus ? '' : 'activeStatus'" role="alert">
                        {{registerData.failStatusMessage}}
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/assets/js/register.js"></script>
</main>
