<div class="bg"></div>
<app-commons></app-commons>
  <!-- MY PROFILE STUFF ENDS HERE -->
  <h1 
  id="scoreboardPage">
    Scoreboard
  </h1>
  <div class="container">
    <h2 id="myHighScores">Personal Bests (Top 3)</h2>
    <table class="table table-hover">
      <thead id="tableTop3Labels">
        <tr>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr id="tablePlayers" *ngFor="let score of top3Scores">
          <td>{{ score.sessionPlayerfk.playerFirstname }}</td>
          <td>{{ score.sessionPlayerfk.playerLastname }}</td>
          <td>{{ score.sessionWinnings }}</td>
        </tr>
      </tbody>
    </table>

    <h2 id="top10">TOP 10 CONTESTANTS</h2>
    <table class="table table-hover">
      <thead id="tableGlobalLabels">
        <tr>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr id="top10Scores" *ngFor="let score of top10Scores">
          <td>{{ score.sessionPlayerfk.playerFirstname }}</td>
          <td>{{ score.sessionPlayerfk.playerLastname }}</td>
          <td>{{ score.sessionWinnings }}</td>
        </tr>
      </tbody>
    </table>
  </div>

