
<div class="bg"></div>
<app-commons></app-commons>
  <!-- MY PROFILE STUFF ENDS HERE -->
  <div class="row">
    <div class="col d-flex justify-content-center my-3">
      <div class="card text-center j-menu-item" style="width: 18em">
        <div class="menu-item-image card-img-top d-flex align-items-center justify-content-center">
          <img src="/assets/img/playerscoreboard.png" /> <!--replace this image? or not-->
        </div>
        <div class="card-body">
          <div class="card-text" style="height: 64px">
          </div>
          </div>
    <h2 id="myHighScores">Personal Bests (Top 3)</h2>
    <table class="table table-hover">
      <thead id="tableTop3Labels">
        <tr>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr id="tablePlayers" *ngFor="let score of top3Scores">
          <td>{{ score.sessionPlayerfk.playerFirstname }}</td>
          <td>{{ score.sessionPlayerfk.playerLastname }}</td>
          <td>{{ score.sessionWinnings }}</td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
    </div>
    <div class="row"></div>
    <div class="col d-flex justify-content-center my-3">  
      <div class="card text-center j-menu-item" style="width: 18em">
        <div class="menu-item-image card-img-top d-flex align-items-center justify-content-center">
          <img src="/assets/img/leaderboard.png" />
        </div>
        <div class="card-body">
          <div class="card-text" style="height: 64px">
          </div>
        </div>
    <h2 id="top10">TOP 10 CONTESTANTS</h2>
    <table class="table table-hover">
      <thead id="tableGlobalLabels">
        <tr>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr id="top10Scores" *ngFor="let score of top10Scores">
          <td>{{ score.sessionPlayerfk.playerFirstname }}</td>
          <td>{{ score.sessionPlayerfk.playerLastname }}</td>
          <td>{{ score.sessionWinnings }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  
  

