<h2>Choose up to 5 Categories! </h2>
<button (click)="SubmitButton()">Submit</button>
<!--e stays as a category first that worked-->
<!-- <button (click)="buttonPress(98)" id="TestButtonChecked" >e</button> -->
<!--Hunting stays as a category first that I saw -->
<!-- <button id="TestButton" >Hunting Not a category</button> -->
<!-- <button id="TestButton" >This isn't good,Governors</button> -->
<button (click)="buttonPress(54)" id="TestButtonChecked" >Zoology</button>
<!--Grand stays as a category I like the number :sableye -->
<!-- <button id="TestButton" >No answers 302/3/7</button> -->

<!-- <button (click)="buttonPress(128)" id="TestButtonChecked" >Lakes & Rivers</button> the final answer won't be properly passed as correct-->
<!-- <button (click)="buttonPress(360)" id="TestButtonChecked" >Medical trivia Seems disfunctional</button> -->
<button (click)="buttonPress(43)" id="TestButtonChecked" >Egypt</button>
<button (click)="buttonPress(231)" id="TestButtonChecked" >20th century art</button>
<button (click)="buttonPress(890)" id="TestButtonChecked" >The calendar</button>
<button (click)="buttonPress(901)" id="TestButtonChecked" >Jazz nicknames</button>
<button (click)="buttonPress(69)" id="TestButtonChecked" >"Cat" egory</button>
<!-- Metamorphosis is bugged ;) <button (click)="buttonPress(420)" id="TestButtonChecked" >Science & nature</button> -->
<button (click)="buttonPress(777)" id="TestButtonChecked" >See The Usa</button>
<button (click)="buttonPress(666)" id="TestButtonChecked" >Language of flowers</button>
<!-- <button (click)="buttonPress(986)" id="TestButtonChecked" >Language of flowers</button> -->
<!-- <button (click)="buttonPress(648)" id="TestButtonChecked" >Show music</button> I am using this to safely have a less than 5--> 
<button (click)="buttonPress(691)" id="TestButtonChecked" >Women in history</button>
<!-- <button (click)="buttonPress(975)" id="TestButtonChecked" >Language of flowers</button> -->
<button (click)="buttonPress(782)" id="TestButtonChecked" >The Universe</button>
<button (click)="buttonPress(1192)" id="TestButtonChecked" >"Last Films"</button>
<button (click)="buttonPress(1092)" id="TestButtonChecked" >Alice in wonderland</button>
<button (click)="buttonPress(1394)" id="TestButtonChecked" >Uncommon Words</button>
<button (click)="buttonPress(1495)" id="TestButtonChecked" >Potluck</button>

<button (click)="buttonPress(695)" id="TestButtonChecked" >The Senses</button>
<button (click)="buttonPress(786)" id="TestButtonChecked" >England</button>

<button (click)="buttonPress(1594)" id="TestButtonChecked" >Automobile Names</button>
<button (click)="buttonPress(1096)" id="TestButtonChecked" >Born In India</button>
<button (click)="buttonPress(1094)" id="TestButtonChecked" >From The Latin</button>
<button (click)="buttonPress(1195)" id="TestButtonChecked" >The Papal Visit</button>

<button (click)="buttonPress(787)" id="TestButtonChecked" >Comic Books</button>
<button (click)="buttonPress(912)" id="TestButtonChecked" >World Cities</button>
<button (click)="buttonPress(1797)" id="TestButtonChecked" >U.S. Territories</button>
<button (click)="buttonPress(1194)" id="TestButtonChecked" >Stage Names</button>
<button (click)="buttonPress(1277)" id="TestButtonChecked" >Pitchman & Product</button>

<!-- <button (click)="buttonPress(810)" id="TestButtonChecked" >Women in history</button> -->
<!-- <button (click)="buttonPress(1028)" id="TestButtonChecked" >Actress</button> -->
