<p>category-selector works!</p>
<!--e stays as a category first that worked-->
<button (click)="buttonPress(98)" id="TestButtonChecked" >e</button>
<!--Hunting stays as a category first that I saw -->
<button id="TestButton" >Hunting Not a category</button>
<button id="TestButton" >This isn't good,Governors</button>
<button (click)="buttonPress(53)" id="TestButtonChecked" >Foods</button>
<!--Grand stays as a category I like the number :sableye -->
<button id="TestButton" >No answers 302/3/7</button>
<button (click)="buttonPress(128)" id="TestButtonChecked" >Lakes & Rivers</button>
<button (click)="buttonPress(360)" id="TestButtonChecked" >Medical trivia</button>
<button (click)="buttonPress(43)" id="TestButtonChecked" >Egypt</button>
<button (click)="buttonPress(231)" id="TestButtonChecked" >20th century art</button>
