<p>category-selector works!</p>
<!--e stays as a category first that worked-->
<button (click)="buttonPress(98)" id="TestButton" >e</button>
<!--Hunting stays as a category first that I saw -->
<button (click)="buttonPress(3)" id="TestButton" >Hunting</button>
<button (click)="buttonPress(7)" id="TestButton" >Governors</button>
<button (click)="buttonPress(53)" id="TestButton" >Foods</button>
<!--Grand stays as a category I like the number :sableye -->
<button (click)="buttonPress(302)" id="TestButton" >Grand</button>
<button (click)="buttonPress(128)" id="TestButton" >Lakes & Rivers</button>
<button (click)="buttonPress(360)" id="TestButton" >Medical trivia</button>
<button (click)="buttonPress(43)" id="TestButton" >Egypt</button>
<button (click)="buttonPress(231)" id="TestButton" >20th century art</button>
