
<table *ngIf="false" style="margin-left:auto;margin-right:auto; ">
    <tr><th scope ="col" style="color:white; background-color: black;" *ngIf="Sab>=1"> {{this.Cat1.title | titlecase}}  </th>
    <th scope ="col" style="color:white; background-color: black;" *ngIf="Sab>=2"> {{this.Cat2.title | titlecase}}  </th>
    <th scope ="col" style="color:white; background-color: black;" *ngIf="Sab>=3"> {{this.Cat3.title | titlecase}}  </th>
    <th scope ="col" style="color:white; background-color: black;" *ngIf="Sab>=4"> {{this.Cat4.title | titlecase}}  </th>
    <th scope ="col" style="color:white; background-color: black;" *ngIf="Sab>=5"> {{this.Cat5.title | titlecase}} </th>
    </tr>
    <tr><td *ngIf="Sab>=1"><button *ngIf="!N11" class="btn btn-magick btn3d" style="width: 100%; background-color: orange;" (click)="QuestionButton(1,1)">100</button></td>
        <td *ngIf="Sab>=2"><button *ngIf="!N21" class="btn btn-magick btn3d" style="width: 100%; background-color:  orange;" (click)="QuestionButton(1,2)">100</button></td>
        <td *ngIf="Sab>=3"><button *ngIf="!N31" class="btn btn-magick btn3d" style="width: 100%; background-color: orange;" (click)="QuestionButton(1,3)">100</button></td>
        <td *ngIf="Sab>=4"><button *ngIf="!N41" class="btn btn-magick btn3d" style="width: 100%; background-color: orange;" (click)="QuestionButton(1,4)">100</button></td>
        <td *ngIf="Sab>=5"><button *ngIf="!N51" class="btn btn-magick btn3d" style="width: 100%; background-color:  orange;" (click)="QuestionButton(1,5)">100</button></td>
    </tr>
    <tr><td scope ="col" *ngIf="Sab>=1"><button *ngIf="!N12" class="btn btn-magick btn3d" style="width: 100%; background-color:  orange;" (click)="QuestionButton(2,1)">200</button></td>
        <td scope ="col" *ngIf="Sab>=2"><button *ngIf="!N22" class="btn btn-magick btn3d" style="width: 100%; background-color:  orange;" (click)="QuestionButton(2,2)">200</button></td>
        <td scope ="col" *ngIf="Sab>=3"><button *ngIf="!N32" class="btn btn-magick btn3d" style="width: 100%; background-color:  orange;" (click)="QuestionButton(2,3)">200</button></td>
        <td scope ="col" *ngIf="Sab>=4"><button *ngIf="!N42" class="btn btn-magick btn3d" style="width: 100%; background-color:  orange;" (click)="QuestionButton(2,4)">200</button></td>
        <td scope ="col" *ngIf="Sab>=5"><button *ngIf="!N52" class="btn btn-magick btn3d" style="width: 100%; background-color:  orange;" (click)="QuestionButton(2,5)">200</button></td>
    </tr>
    <tr><td scope ="col" *ngIf="Sab>=1"><button *ngIf="!N13" class="btn btn-magick btn3d" style="width: 100%; background-color:  orange;" (click)="QuestionButton(3,1)">300</button></td>
        <td scope ="col" *ngIf="Sab>=2"><button *ngIf="!N23" class="btn btn-magick btn3d" style="width: 100%; background-color:  orange;" (click)="QuestionButton(3,2)">300</button></td>
        <td scope ="col" *ngIf="Sab>=3"><button *ngIf="!N33" class="btn btn-magick btn3d" style="width: 100%; background-color: orange;" (click)="QuestionButton(3,3)">300</button></td>
        <td scope ="col" *ngIf="Sab>=4"><button *ngIf="!N43" class="btn btn-magick btn3d" style="width: 100%; background-color:  orange;" (click)="QuestionButton(3,4)">300</button></td>
        <td scope ="col" *ngIf="Sab>=5"><button *ngIf="!N53" class="btn btn-magick btn3d" style="width: 100%; background-color:  orange;" (click)="QuestionButton(3,5)">300</button></td>
    </tr>
    <tr><td scope ="col" *ngIf="Sab>=1"><button *ngIf="!N14" class="btn btn-magick btn3d" style="width: 100%; background-color:  orange;" (click)="QuestionButton(4,1)">400</button></td>
        <td scope ="col" *ngIf="Sab>=2"><button *ngIf="!N24" class="btn btn-magick btn3d" style="width: 100%; background-color:  orange;" (click)="QuestionButton(4,2)">400</button></td>
        <td scope ="col" *ngIf="Sab>=3"><button *ngIf="!N34" class="btn btn-magick btn3d" style="width: 100%; background-color:  orange;" (click)="QuestionButton(4,3)">400</button></td>
        <td scope ="col" *ngIf="Sab>=4"><button *ngIf="!N44" class="btn btn-magick btn3d" style="width: 100%; background-color:  orange;" (click)="QuestionButton(4,4)">400</button></td>
        <td scope ="col" *ngIf="Sab>=5"><button *ngIf="!N54" class="btn btn-magick btn3d" style="width: 100%; background-color:  orange;" (click)="QuestionButton(4,5)">400</button></td>
    </tr>
    <tr><td *ngIf="Sab>=1"><button *ngIf="!N15" class="btn btn-magick btn3d" style="width: 100%; background-color: orange;" (click)="QuestionButton(5,1)">500</button></td>
        <td *ngIf="Sab>=2"><button *ngIf="!N25" class="btn btn-magick btn3d" style="width: 100%; background-color:  orange;" (click)="QuestionButton(5,2)">500</button></td>
        <td *ngIf="Sab>=3"><button *ngIf="!N35" class="btn btn-magick btn3d" style="width: 100%; background-color:  orange;" (click)="QuestionButton(5,3)">500</button></td>
        <td *ngIf="Sab>=4"><button *ngIf="!N45" class="btn btn-magick btn3d" style="width: 100%; background-color:  orange;" (click)="QuestionButton(5,4)">500</button></td>
        <td *ngIf="Sab>=5"><button *ngIf="!N55" class="btn btn-magick btn3d" style="width: 100%; background-color:  orange;" (click)="QuestionButton(5,5)">500</button></td>
    </tr>
</table>
<div class="m-auto d-flex flex-column h-100">
    <app-commons (newItemEvent)="getPlayerData($event)"></app-commons>
    <button  *ngIf="!Bu2"(click)="SortC1()" class="btn btn-magick btn-success btn3d"style="margin-left:auto;margin-right:auto;" >Click me</button>
<!-- <button (click)="StartGame()">Start</button> -->
<!-- <button (click)="Testing()">testing the double loop</button> -->
<button *ngIf="Bu2" (click)="NameTheCats()" class="btn btn-magick btn-success btn3d" style="margin-left:auto;margin-right:auto;">And me</button>
    <div class="container flex-grow-1 text-white pb-3">
      <div class="card gameContainer h-100" *ngIf="Gremlin">
        <div class="row h-100">
          <div class="col text-center">
            <div class="j-game-card w-100 h-100 py-3">
              <div class="container h-100">
                <div class="row">
                  <div class="col h-100">
                    <div class="container h-100">
                      <div class="row gameCategoriesHeader">
                        <div class="col" *ngIf="Sab>=1">
                          <div class="catHeaderItem fw-bold d-flex align-items-center justify-content-center">
                            <div>
                              <span>{{this.Cat1.title | titlecase}}</span>
                            </div>
                          </div>
                          <!-- Where the clues will go -->
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N11" (click)="QuestionButton(1,1)">$100</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N12" (click)="QuestionButton(2,1)">$200</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N13"  (click)="QuestionButton(3,1)">$300</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N14" (click)="QuestionButton(4,1)">$400</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N15"  (click)="QuestionButton(5,1)">$500</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col" *ngIf="Sab>=2">
                          <div class="catHeaderItem fw-bold d-flex align-items-center justify-content-center">
                            <div>
                              <span>{{this.Cat2.title | titlecase}}</span>
                            </div>
                          </div>
                          <!-- Where the clues will go -->
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N21" (click)="QuestionButton(1,2)">$100</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N22"  (click)="QuestionButton(2,2)">$200</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N23"  (click)="QuestionButton(3,2)">$300</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N24" (click)="QuestionButton(4,2)">$400</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N25"  (click)="QuestionButton(5,2)">$500</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col" *ngIf="Sab>=3">
                          <div class="catHeaderItem fw-bold d-flex align-items-center justify-content-center">
                            <div>
                              <span>{{this.Cat3.title | titlecase}}</span>
                            </div>
                          </div>
                          <!-- Where the clues will go -->
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N31"(click)="QuestionButton(1,3)">$100</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N32"  (click)="QuestionButton(2,3)">$200</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N33" (click)="QuestionButton(3,3)">$300</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N34" (click)="QuestionButton(4,3)">$400</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N35" (click)="QuestionButton(5,3)">$500</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col" *ngIf="Sab>=4">
                          <div class="catHeaderItem fw-bold d-flex align-items-center justify-content-center">
                            <div>
                              <span>{{this.Cat4.title | titlecase}}</span>
                            </div>
                          </div>
                          <!-- Where the clues will go -->
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N41" (click)="QuestionButton(1,4)">$100</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N42" (click)="QuestionButton(2,4)">$200</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N43" (click)="QuestionButton(3,4)">$300</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N44" (click)="QuestionButton(4,4)">$400</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N45" (click)="QuestionButton(5,4)">$500</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col" *ngIf="Sab>=5">
                          <div class="catHeaderItem fw-bold d-flex align-items-center justify-content-center">
                            <div>
                              <span>{{this.Cat5.title | titlecase}}</span>
                            </div>
                          </div>
                          <!-- Where the clues will go -->
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N51" (click)="QuestionButton(1,5)">$100</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N52" (click)="QuestionButton(2,5)">$200</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N53" (click)="QuestionButton(3,5)">$300</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N54" (click)="QuestionButton(4,5)">$400</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container gx-0 mt-3">
                            <div class="row mb-3" >
                              <div class="col">
                                <div  class="catCluesItem fw-bold d-flex align-items-center justify-content-center">
                                  <span *ngIf="!N55" (click)="QuestionButton(5,5)">$500</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col h-100">
                    <div class="playerContainer">
                      <div class="deskPlayerAvatarContainer">
                        <img class="deskPlayerAvatar" [src]="imagePreviewUrl">
                      </div>
                      <div class="deskContainer d-flex justify-content-center">
                        <div class="container deskBody">
                          <div class="row">
                            <div class="col">&nbsp;</div>
                          </div>
                          <div class="row">
                            <div class="col-2">&nbsp;</div>
                            <div class="col text-white nameDisplay">
                              <div class="d-flex justify-content-center align-content-center flex-wrap h-100">
                                <div>
                                  <span class="fw-semibold align-middle m-0">
                                    {{playerData.playerFirstname ? playerData.playerFirstname
                                    + ' ' + playerData.playerLastname : 'Guest'}}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="col-2">&nbsp;</div>
                          </div>
                          <div class="row" style="height: 12px">
                            <div class="col">&nbsp;</div>
                          </div>
                          <div class="row">
                            <div class="col-2">&nbsp;</div>
                            <div class="col-8 text-white scoreDisplay">
                              <div class="d-flex justify-content-center align-content-center flex-wrap h-100">
                                <div>
                                  <h2 class="fw-bold align-middle m-0">${{Score}}</h2>
                                </div>
                              </div>
                            </div>
                            <div class="col-2">&nbsp;</div>
                          </div>
                          <div class="row">
                            <div class="col">&nbsp;</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button *ngIf="Bu2" (click)="ChangeFaith()" class="btn btn-magick btn-danger"  style="margin-top:auto;">CHANGE YOUR DESTINY MORTAL</button>
              <!-- <a class="btn btn-sm btn3d btn-danger card-link fw-semibold">Retire</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  
  <div>
<button *ngIf="Q11" (click)="Buttoon(1,1)" class="btn" style="color:white; background-color: black;" >
    {{C1C1.question}}
</button>
<button *ngIf="A11" (click)="AnswerCleanUp(1,1)"class="btn" style="color:white; background-color: black;">
    {{C1C1.answer}}
</button>
<button *ngIf="Q12" (click)="Buttoon(2,1)" class="btn" style="color:white; background-color: black;">
    {{C1C2.question}}
</button>
<button *ngIf="A12" (click)="AnswerCleanUp(2,1)" class="btn" style="color:white; background-color: black;">
    {{C1C2.answer}}
</button>
<button *ngIf="Q13" (click)="Buttoon(3,1)" class="btn" style="color:white; background-color: black;">
    {{C1C3.question}}
</button>
<button *ngIf="A13" (click)="AnswerCleanUp(3,1)" class="btn" style="color:white; background-color: black;">
    {{C1C3.answer}}
</button>
<button *ngIf="Q14" (click)="Buttoon(4,1)" class="btn" style="color:white; background-color: black;">
    {{C1C4.question}}
</button>
<button *ngIf="A14"  (click)="AnswerCleanUp(4,1)" class="btn" style="color:white; background-color: black;">
    {{C1C4.answer}}
</button>
<button *ngIf="Q15" (click)="Buttoon(5,1)" class="btn" style="color:white; background-color: black;">
    {{C1C5.question}}
</button>
<button *ngIf="A15"  (click)="AnswerCleanUp(5,1)" class="btn" style="color:white; background-color: black;">
    {{C1C5.answer}}
</button>

<button *ngIf="Q21" (click)="Buttoon(1,2)" class="btn" style="color:white; background-color: black;">
    {{C2C1.question}}
</button>
<button *ngIf="A21"  (click)="AnswerCleanUp(1,2)"class="btn" style="color:white; background-color: black;">
    {{C2C1.answer}}
</button>
<button *ngIf="Q22" (click)="Buttoon(2,2)" class="btn" style="color:white; background-color: black;">
    {{C2C2.question}}
</button>
<button *ngIf="A22"  (click)="AnswerCleanUp(2,2)" class="btn" style="color:white; background-color: black;">
    {{C2C2.answer}}
</button>
<button *ngIf="Q23" (click)="Buttoon(3,2)" class="btn" style="color:white; background-color: black;">
    {{C2C3.question}}
</button>
<button *ngIf="A23"  (click)="AnswerCleanUp(3,2)" class="btn" style="color:white; background-color: black;" >
    {{C2C3.answer}}
</button>
<button *ngIf="Q24" (click)="Buttoon(4,2)" class="btn" style="color:white; background-color: black;">
    {{C2C4.question}}
</button>
<button *ngIf="A24"  (click)="AnswerCleanUp(4,2)"class="btn" style="color:white; background-color: black;" >
    {{C2C4.answer}}
</button>
<button *ngIf="Q25" (click)="Buttoon(5,2)" class="btn" style="color:white; background-color: black;" >
    {{C2C5.question}}
</button>
<button *ngIf="A25"  (click)="AnswerCleanUp(5,2)"class="btn" style="color:white; background-color: black;">
    {{C2C5.answer}}
</button>

<button *ngIf="Q31" (click)="Buttoon(1,3)" class="btn" style="color:white; background-color: black;">
    {{C3C1.question}}
</button>
<button *ngIf="A31" (click)="AnswerCleanUp(1,3)"class="btn" style="color:white; background-color: black;">
    {{C3C1.answer}}
</button>
<button *ngIf="Q32" (click)="Buttoon(2,3)" class="btn" style="color:white; background-color: black;">
    {{C3C2.question}}
</button>
<button *ngIf="A32" (click)="AnswerCleanUp(2,3)" class="btn" style="color:white; background-color: black;">
    {{C3C2.answer}}
</button>
<button *ngIf="Q33" (click)="Buttoon(3,3)" class="btn" style="color:white; background-color: black;">
    {{C3C3.question}}
</button>
<button *ngIf="A33"  (click)="AnswerCleanUp(3,3)"class="btn" style="color:white; background-color: black;">
    {{C3C3.answer}}
</button>
<button *ngIf="Q34" (click)="Buttoon(4,3)" class="btn" style="color:white; background-color: black;">
    {{C3C4.question}}
</button>
<button *ngIf="A34" (click)="AnswerCleanUp(4,3)" class="btn" style="color:white; background-color: black;" >
    {{C3C4.answer}}
</button>
<button *ngIf="Q35" (click)="Buttoon(5,3)" class="btn" style="color:white; background-color: black;">
    {{C3C5.question}}
</button>
<button *ngIf="A35"  (click)="AnswerCleanUp(5,3)" class="btn" style="color:white; background-color: black;">
    {{C3C5.answer}}
</button>

<button *ngIf="Q41" (click)="Buttoon(1,4)" class="btn" style="color:white; background-color: black;">
    {{C4C1.question}}
</button>
<button *ngIf="A41" (click)="AnswerCleanUp(1,4)" class="btn" style="color:white; background-color: black;">
    {{C4C1.answer}}
</button>
<button *ngIf="Q42" (click)="Buttoon(2,4)" class="btn" style="color:white; background-color: black;">
    {{C4C2.question}}
</button>
<button *ngIf="A42" (click)="AnswerCleanUp(2,4)" class="btn" style="color:white; background-color: black;" >
    {{C4C2.answer}}
</button>
<button *ngIf="Q43" (click)="Buttoon(3,4)" class="btn" style="color:white; background-color: black;" >
    {{C4C3.question}}
</button>
<button *ngIf="A43"  (click)="AnswerCleanUp(3,4)" class="btn" style="color:white; background-color: black;">
    {{C4C3.answer}}
</button>
<button *ngIf="Q44" (click)="Buttoon(4,4)" class="btn" style="color:white; background-color: black;" >
    {{C4C4.question}}
</button>
<button *ngIf="A44"  (click)="AnswerCleanUp(4,4)" class="btn" style="color:white; background-color: black;" >
    {{C4C4.answer}}
</button>
<button *ngIf="Q45" (click)="Buttoon(5,4)" class="btn" style="color:white; background-color: black;">
    {{C4C5.question}}
</button>
<button *ngIf="A45" (click)="AnswerCleanUp(5,4)" class="btn" style="color:white; background-color: black;" >
    {{C4C5.answer}}
</button>

<button *ngIf="Q51" (click)="Buttoon(1,5)" class="btn" style="color:white; background-color: black;">
    {{C5C1.question}}
</button>
<button *ngIf="A51" (click)="AnswerCleanUp(1,5)" class="btn" style="color:white; background-color: black;">
    {{C5C1.answer}}
</button>
<button *ngIf="Q52" (click)="Buttoon(2,5)" class="btn" style="color:white; background-color: black;">
    {{C5C2.question}}
</button>
<button *ngIf="A52"  (click)="AnswerCleanUp(2,5)" class="btn" style="color:white; background-color: black;">
    {{C5C2.answer}}
</button>
<button *ngIf="Q53" (click)="Buttoon(3,5)" class="btn" style="color:white; background-color: black;">
    {{C5C3.question}}
</button>
<button *ngIf="A53" (click)="AnswerCleanUp(3,5)"class="btn" style="color:white; background-color: black;">
    {{C5C3.answer}}
</button>
<button *ngIf="Q54" (click)="Buttoon(4,5)" class="btn" style="color:white; background-color: black;">
    {{C5C4.question}}
</button>
<button *ngIf="A54"  (click)="AnswerCleanUp(4,5)"class="btn" style="color:white; background-color: black;" >
    {{C5C4.answer}}
</button>
<button *ngIf="Q55" (click)="Buttoon(5,5)" class="btn" style="color:white; background-color: black;">
    {{C5C5.question}}
</button>
<button *ngIf="A55" (click)="AnswerCleanUp(5,5)" class="btn" style="color:white; background-color: black;">
    {{C5C5.answer}}
</button>
</div>
