<p>game works!</p>
<button (click)="SortC1()">Click me</button>
<button (click)="CheckCheck()">Check me</button>
<button (click)="CheckCheckValuesC1()">Check me Value</button>
<!-- <button (click)="StartGame()">Start</button> -->
<button (click)="CheckCheckValuesC2()">Check me ValueC2</button>
<!-- <button (click)="Testing()">testing the double loop</button> -->
<button (click)="NameTheCats()">Cat</button>

<table >
    <tr>
    <th style=" background-color: blueviolet;"> {{this.Cat1.title}}</th>
    <th style=" background-color: blueviolet;"> {{this.Cat2.title}}</th>
    <th style=" background-color: blueviolet;"> {{this.Cat3.title}}</th>
    <th style=" background-color: blueviolet;"> {{this.Cat4.title}}</th>
    <th style=" background-color: blueviolet;"> {{this.Cat5.title}} </th></tr>
    <tr><td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">100</button></td>
        <td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">100</button></td>
        <td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">100</button></td>
        <td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">100</button></td>
        <td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">100</button></td>
    </tr>
    <tr><td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">200</button></td>
        <td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">200</button></td>
        <td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">200</button></td>
        <td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">200</button></td>
        <td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">200</button></td>
    </tr>
    <tr><td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">300</button></td>
        <td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">300</button></td>
        <td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">300</button></td>
        <td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">300</button></td>
        <td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">300</button></td>
    </tr>
    <tr><td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">400</button></td>
        <td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">400</button></td>
        <td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">400</button></td>
        <td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">400</button></td>
        <td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">400</button></td>
    </tr>
    <tr><td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">500</button></td>
        <td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">500</button></td>
        <td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">500</button></td>
        <td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">500</button></td>
        <td><button class="btn btn-magick" style="width: 100%; background-color: blueviolet;">500</button></td>
    </tr>
</table>