<div class="m-auto d-flex flex-column h-100">
  <app-commons (newItemEvent)="getPlayerData($event)"></app-commons>
  <div class="gameContainer container flex-grow-1 text-white">
    <div class="row">
      <div class="col-lg-7 d-flex justify-content-center my-3">
        <div class="card j-game-card w-100">
          <div class="card-body">
            <h5 class="card-title text-center">Game</h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <p class="card-text">Interface for the game will be here</p>
          </div>
        </div>
      </div>
      <div class="col-lg-5 my-3 text-center">
        <div class="card j-game-card w-100" style="height: 500px">
          <div class="card-body">
            <h5 class="card-title text-center">Status</h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <div class="playerContainer my-3">
              <div class="deskPlayerAvatarContainer"><img class="deskPlayerAvatar" [src]="imagePreviewUrl"></div>
              <div class="deskContainer d-flex justify-content-center">
                <div class="container deskBody">
                  <div class="row">
                    <div class="col">&nbsp;</div>
                  </div>
                  <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8 text-white" style="background: rgb(0,29,61); height: 72px;">
                      <div class="d-flex justify-content-center align-content-center flex-wrap h-100">
                        <div>
                          <h2 class="fw-bold align-middle">100</h2>
                        </div>
                      </div>
                    </div>
                    <div class="col-2"></div>
                  </div>
                </div>
                <!--
                <div class="divTable">
                  <div class="divTableBody">
                    <div class="divTableRow deskRowColor">
                      <div class="divTableCell">&nbsp;</div>
                      <div class="divTableCell">&nbsp;</div>
                      <div class="divTableCell">&nbsp;</div>
                    </div>
                    <div class="divTableRow deskRowBlur">
                      <div class="divTableCell" style="width: 100%">&nbsp;</div>
                    </div>
                    <div class="divTableRow deskRowColor">
                      <div class="divTableCell">&nbsp;</div>
                      <div class="divTableCell">&nbsp;</div>
                      <div class="divTableCell">&nbsp;</div>
                    </div>
                    <div class="divTableRow deskRowColor">
                      <div class="divTableCell">&nbsp;</div>
                      <div class="divTableCell">&nbsp;</div>
                      <div class="divTableCell">&nbsp;</div>
                    </div>
                  </div>
                </div>
                -->
              </div>
            </div>
            <!-- <a class="btn btn-sm btn3d btn-danger card-link fw-semibold">Retire</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
