<div class="m-auto d-flex flex-column h-100">
  <app-commons (newItemEvent)="getPlayerData($event)"></app-commons>
  <div class="container flex-grow-1 text-white pb-3">
    <div class="card gameContainer h-100">
      <div class="row h-100">
        <div class="col text-center h-100">
          <!-- Game Options -->
          <div class="jGameOptions h-100" [ngClass]="hideGameOptions ? 'hiddenLayer': ''">
            <div class="d-flex align-items-center justify-content-center h-100">
              <div class="jGameOptionsCon container">
                <div class="row">
                  <div class="col">
                    <h5>Select How Many Categories To Play</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col mt-3">
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedCat">
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                      <option value="4">Four</option>
                      <option value="5">Five</option>
                    </select>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col">
                    <a class="btn btn-success btn3d fw-semibold" (click)="doLoad()">Start Game</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Game Loading -->
          <div class="jGameLoading h-100" [ngClass]="hideGameLoading ? 'hiddenLayer': ''">
            <div class="d-flex align-items-center justify-content-center h-100">
              <div class="jGameLoadingCon container">
                <div class="row">
                  <div class="col">
                    <h4>Game Loading. Please Wait.</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col mt-3">
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar"
                        aria-label="Data retrieval prorgress" [ngStyle]="{'width': curProgress + '%'}"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Game Area -->
          <div class="jGameArea pt-3 h-100" [ngClass]="hideGame ? 'hiddenLayer': ''">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="container">
                    <div class="row">
                      <div class="col" *ngFor="let jCat of (jCategories ? jCategories : []); let j = index">
                        <div class="catHeaderItem fw-bold d-flex align-items-center justify-content-center">
                          <div>
                            <span>{{jCat.title | uppercase}}</span>
                          </div>
                        </div>
                        <!-- Where the clues will go -->
                        <div class="container gx-0 mt-3">
                          <div class="row mb-3" *ngFor="let myclue of (jClues[j] ? jClues[j] : []), let i = index">
                            <div class="col">
                              <div id="catClues-{{j}}-{{i}}"
                                class="catCluesItem fw-bold d-flex align-items-center justify-content-center"
                                (click)="attemptClues(j,i)" data-bs-toggle="offcanvas" data-bs-target="#offcanvasClues"
                                aria-controls="offcanvasClues">
                                <span>${{myclue["value"] ? myclue["value"] : '0'}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="playerContainer">
                    <div class="deskPlayerAvatarContainer">
                      <img src="/assets/img/robot.png" style="width: 240px;">
                      <img class="deskPlayerAvatar" [src]="imagePreviewUrl">
                    </div>
                    <div class="deskContainer d-flex justify-content-center">
                      <div class="container deskBody">
                        <div class="row" style="height: 10px;">
                          <div class="col">&nbsp;</div>
                        </div>
                        <div class="row">
                          <div class="col-2">&nbsp;</div>
                          <div class="col text-white nameDisplay">
                            <div class="d-flex justify-content-center align-content-center flex-wrap h-100">
                              <div>
                                <span class="fw-semibold align-middle m-0">
                                  {{playerData.playerFirstname ? playerData.playerFirstname
                                  + ' ' + playerData.playerLastname : 'Guest'}}
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-2">&nbsp;</div>
                        </div>
                        <div class="row" style="height: 12px">
                          <div class="col">&nbsp;</div>
                        </div>
                        <div class="row">
                          <div class="col-2">&nbsp;</div>
                          <div class="col-8 text-white scoreDisplay">
                            <div class="d-flex justify-content-center align-content-center flex-wrap h-100">
                              <div>
                                <h2 class="fw-bold align-middle m-0">${{gameScore}}</h2>
                              </div>
                            </div>
                          </div>
                          <div class="col-2">&nbsp;</div>
                        </div>
                        <div class="row">
                          <div class="col"><button type="button" class="btn btn-sm btn-danger btn3d fw-semibold"
                              style="width: 100px;margin-top: 14px;" (click)="retireEarly()">Retire</button></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Game Over -->
          <div class="jGameOver h-100" [ngClass]="hideGameOver ? 'hiddenLayer': ''">
            <div class="pyro">
              <div class="before"></div>
              <div class="after"></div>
            </div>
            <div class="d-flex align-items-center justify-content-center h-100">
              <div class="jGameLoadingCon container">
                <div class="row">
                  <div class="col">
                    <h1>Game Over</h1>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h3><span>Your Final Score is </span><span class="fw-bold">${{gameScore}}</span></h3>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <span>Click <a class="text-white" (click)="reloadCurrentPage()">here</a> to play again</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Offcanvas -->
  <div class="offcanvas offcanvas-bottom h-100" data-bs-backdrop="static" tabindex="-1" id="offcanvasClues"
    aria-labelledby="offcanvasCluesLabel" data-bs-keyboard="false">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title text-white" id="offcanvasProfileLabel">
        &nbsp;
      </h5>
      <button type="button" id="closeOffcanvasClues" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
        aria-label="Close" style="visibility:hidden"></button>
    </div>
    <div class="offcanvas-body-wrapper w-100 m-auto" style="max-width: 576px">
      <div class="offcanvas-body">
        <div class="progressTimeContainer px-5 py-3">
          <div class="progress d-flex justify-content-center text-center">
            <div class="progress-bar progress-bar-striped progress-bar-animated fw-bold" role="progressbar"
              aria-label="Time progress" [ngClass]="progressClass" [ngStyle]="{'width': attemptTimeProgress + '%'}">
              <div class="timeSeconds">{{timeSeconds}}</div>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center text-center h-100">
          <div class="container p-3">
            <div class="row">
              <div class="col">
                <div id="cluesContainer">
                  <h3 class="text-white fw-bold">{{attemptData.curClue != null ? attemptData.curClue.question : ''}}
                  </h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="alert alert-success mt-2 mb-0" role="alert"
                  [ngClass]="attemptData.success ? 'activeStatus' : ''">
                  Correct!
                </div>
                <div class="alert alert-danger mt-2 mb-0" role="alert"
                  [ngClass]="attemptData.fail ? 'activeStatus' : ''">
                  {{failMessage}}. The answer is "{{(attemptData.curClue != null ? attemptData.curClue.answer : '') |
                  cleanjstring }}"
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mt-2">
                <div id="inputContainer">
                  <div class="form-floating text-start">
                    <input type="text" class="form-control" id="floatingInputValue" placeholder="love"
                      [(ngModel)]="attemptData.userAnswer" (keyup.enter)="submitAnswer()">
                    <label for="floatingInputValue">What is ...</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mt-3">
                <div id="submitInput"><button type="button" class="btn btn3d btn-primary w-100 m-0"
                    (click)="submitAnswer()" [attr.disabled]="
                  attemptData.disableSubmit ? 'disabled' : null
                ">Submit</button></div>
              </div>
            </div>
          </div>
        </div>
        <div class="cheats">
          <div type="button" placement="top" ngbPopover="What is {{(attemptData.curClue != null ? attemptData.curClue.answer : '') |
            cleanjstring }}" popoverTitle="Answer" popoverClass="cheatPopover text-center">
            <img src="/assets/img/hackerman.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
