<main class="bg d-flex align-content-center">
    <div class="animatedBackground"></div>
    <div class="loginContainer w-100 m-auto">
      <div class="container">
        <div class="row">
          <div class="col logoSpinnerContainer">
            <p id="logoSpinner">JEOPARDY!</p>
          </div>
        </div>

        <!--pLAY nOW bUTTON to start game session, would go to Category select?-->
        <div class="row">
            <div class="col">
              <button id="submitBtn" href="#" class="w-100 btn btn3d btn-success fw-bold" type="button">
                <div id="proceedText" class="proceedText">Play now!</div>
              </button>
            </div>

            <!--Sign up button to add new players-->
            <div class="col">
                <a id="registerBtn" routerLink="/sign-up" class="w-100 btn btn3d btn-primary fw-bold"
                  type="button"> Sign Up
                   </a>
            </div>
        </div>

        <!-- attempt at scoreboard... not sure how to do this-->
        <div class="text-center">
            <div class="col-md-6">
               <div class="text-center">
                 <div class="text-center">
                   <h1>Text</h1>
                   <h1> Text </h1> 
                 </div> 
              </div> 
            </div> 
            <div class="col-md-6">
            <div class ="text-center">
               <h1><Textarea></Textarea></h1>
              </div> 
            </div>
              <div class ="col-md-6">
                <div class="text-center">
                  <div class="text-center">
                    <h1> Text </h1> 
                    <h1> Text </h1> 
                </div>
            </div>


        </div>        
      </div>   


      