/* Background */

.bg {
  width: 100%;
  height: 100%;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg,
      #3bade3 0%,
      #4914bc 25%,
      #9844b7 51%,
      #9d030b 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
  animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 50% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 50% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 50% 50%;
  }
}

.navbar-brand {
  font-family: gyparodyhv;
  font-size: 28px;
  text-shadow: 1px 1px 1px #000;
}

.titleCase {
  text-transform: capitalize;
  font-weight: bold;
}

a {
  cursor: pointer;
}
